body{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    /* Stretch everything across the webpage */
    margin: 0;
}

/* Header Section */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #1f2937;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 18px;

    /* Secondary text */
    font-size: 18px;
    color: #e5e7eb
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8
}


/* Section 1 */
.main-section{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

.main-info{
    color:#f9faf8;
    width: 500px;
}

.main-info h2{
    font-size: 48px;
    font-weight: bold;
}

button{
    background-color: #3882f6;
    color:#e5e7eb;
    border-radius: 10px;
    width: 115px;
    height: 38px;
    border-style:none;
}

.main-img{
    background-color:#808080e7;
    text-align: center;
    color: #f9faf8;
    max-width: 33%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

/* Section 2 */
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.information h2{
    font-size: 36px;
    color: #1f2937;
}

.cards{
    display: flex;
    flex-wrap: nowrap;
}
.cards p{
    font-size: 18px;
    color: #8a8a8a;
}
.card{
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-content: space-around;
}
.card-thumb{
    border: #3882f6 5px solid;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

/* Section 3 */

/* Section 4 */
/* Footer Section */

.footer{
    background-color: #1f2937;
    color: #e5e7eb;

    text-align: center;
}